@import '@repo/lib_shared/theme.css';

:root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #111827;
  background-color: #f9fafb;
  --space-lg: 1.5rem;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
